body {
	font-size:14px;
	text-align:center;
	line-height:1.2;
	padding:0;
	margin:0;
	font-family:'Microsoft YaHei';
	/*overflow: hidden;*/
	/*background-color: #353535;*/
	/*background-color: #3f99ee;*/
}

div,h1,h2,h3,h4,h5,h6,ol,ul,li,dl,dt,dd,form,input,select,textarea {
	text-align:left;
	padding:0;
	margin:0;
}
ol,ul {
	list-style:none;
}

p {
	padding:0;
	margin:0;
}

img {
	vertical-align:middle;
	border:none;
}

a:link,a:visited {
	/*color:#333;*/
	/*修改原因：影响前端组件，此处的重置样式应该调整到默认的顶部*/
	text-decoration:none;
}

a:hover {
	/*color:#000;*/
	/*修改原因：影响前端组件，此处的重置样式应该调整到默认的顶部*/
	text-decoration:underline;
}

.grayA:link,.grayA:visited {
	color:#666;
	text-decoration:none;
}

.grayA:hover {
	color:#888;
	text-decoration:underline;
}

.grayTxt {
	color:#666;
}

.darkGrayTxt {
	color:#505050;
}

.lightGrayTxt {
	color:#999;
}

.lightRedTxt {
	color:#ff6666;
}

.redTxt {
	color:#e52e2d;
}

.floatL {
	float:left;
}

.floatR {
	float:right;
}

.clear {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}

/*宽度*/
.width150 {
	width:150px;
}

.width172 {
	width:172px;
}

.width209 {
	width:209px;
}

.width226 {
	width:226px;
	/*主要针对IE6 7边框样式的debug*/
	*width:222px;
}


/*文字对齐*/
.alignCenter {
	text-align:center;
}

.alignLeft {
	text-align:left;
}

.alignRight {
	text-align:right;
}

/*分页*/
.pageBg {
    background-color: gray;
    position: absolute;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    z-index:99;
    display:none;
}

input.checkbox {
	margin: 0px 4px 2px 0;
}
/*icon*/
.icon_schInfo,.icon_infoManage,.icon_teacherManage,.icon_interactManage,.icon_appSurvey,.icon_dataStatistics,.icon_schInfoGray,.icon_infoManageGray,.icon_teacherManageGray,.icon_interactManageGray,.icon_appSurveyGray,.icon_dataStatisticsGray {
	display:inline-block;
	width:26px;
	height:26px;
	*height:22px;
	line-height:0;
	font-size:0;
	vertical-align:middle;
	background:url(../images/icon_spr.png) no-repeat -33px -2px;
	_background:url(../images/icon_spr.gif) no-repeat -33px -2px;
}

.icon_infoManage {
	background-position:-33px -37px;
}

.icon_teacherManage {
	background-position:-33px -72px;
}

.icon_interactManage {
	background-position:-33px -108px;
}

.icon_appSurvey {
	background-position:-33px -145px;
}

.icon_dataStatistics {
	background-position:-33px -180px;
}

.icon_schInfoGray {
	background-position:0 -2px;
}

.icon_infoManageGray {
	background-position:0 -37px;
}

.icon_teacherManageGray {
	background-position:0 -72px;
}

.icon_interactManageGray {
	background-position:0 -108px;
}

.icon_appSurveyGray {
	background-position:0 -145px;
}

.icon_dataStatisticsGray {
	background-position:0 -180px;
}

.itemSymbol {
	display:inline-block;
	width:12px;
	height:16px;
	line-height:0;
	font-size:0;
	vertical-align:middle;
	_margin:10px 0 0;
	_vertical-align:text-bottom;
	background:url(../images/icon_spr.png) no-repeat 2px -292px;
	_background:url(../images/icon_spr.gif) no-repeat 2px -292px;
}

.icon_exit {
	display:inline-block;
	width:20px;
	height:33px;
	line-height:0;
	font-size:0;
	vertical-align:middle;
	background:url(../images/icon_spr.png) no-repeat 0 -258px;
	_background:url(../images/icon_spr.gif) no-repeat 0 -258px;
}

.icon_plusGray,.icon_minusGray {
	display:inline-block;
	width:15px;
	height:15px;
	line-height:0;
	font-size:0;
/*去掉主菜单二级展开按钮背景*/
/*	border:1px solid #f1f2f7;
	border-radius:2px;*/
	margin:5px 10px 0 0;
	background:url(../images/icon_spr.png) no-repeat 3px -215px;
	_background:url(../images/icon_spr.gif) no-repeat 3px -215px;
}

.icon_minusGray {
	background-position:-24px -215px;
}
.listCon{
	/*border-left: 1px solid #cdced3;*/
	/*padding: 23px 9px 0px 10px;*/
	margin: 0px;
	padding: 0px;
}
.listCon .title{
	line-height: 24px;
	height: auto;
	padding: 5px 10px;
	border: 1px solid #d2d2d2;
	background-color: #f8f8f8;
	border-radius: 2px;
	font-size: 16px;
	margin: 0;
}
.listCon .title h4{
/*	border-bottom: 1px solid #E2E2E2;
	margin-bottom: 2px;*/
	line-height: 26px;
	height: 24px;
}
.listCon .title h4.tt{
	margin-bottom: 4px;
	border-bottom: 1px solid #E4E4E4;
	padding-bottom: 4px;
}
.manager .listCon .title h4{
	border-right: 2px solid #DADADA;
	padding-right: 10px;
}
.listCon .title .spanDivder{
	font-size: 24px;
	color: #f2f2f2;
}
#ajaxpage .listCon{
	padding: 0px;
	border-bottom: none;
	border-radius:0px;
	border:none;
	background-color:#fff;
}
#ajaxpage .listCon a{
	font-weight: normal;
}
.formWrap{
	/*padding:15px 0 15px 0;*/
}
.menuWrap{
	background-color:#fff;
	border-bottom: 1px solid #ececec;
	padding-bottom: 8px;
}

/*三角提示*/
.m-floatCard {
	position:absolute;
	z-index:4;
	width:362px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #f2f2f2;
	-moz-box-shadow:0px 0px 6px #ADACAC; 
	-webkit-box-shadow:0px 0px 6px #ADACAC;
	box-shadow: 0px 0px 6px #ADACAC;
	border: 1px solid #CCCCCC;
}
.m-floatCard .ct {
	position: relative;
	padding: 10px;
	border-radius: 4px;
}
.m-floatCard .ct li{
	border-bottom: 1px solid #f2f2f2;
}
.m-floatCard .ct li.itemLast{
	margin-top: 10px;
	border-bottom: 0px;
	text-align: center;
	height: 32px;
	line-height: 32px;
	background-color: #f2f2f2;
}
.m-floatCard .ct li h4{
	color: #4E4F50;
	font-size: 14px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
}
.m-floatCard .ct li p{
	color: #333333;
	font-size: 14px;
	margin: 0px 0 8px 0;
	height: 32px;
	display: block;
	overflow: hidden;
	width: 100%;
}
.u-arrow {
	position:absolute;
	display:inline-block;
	width:15px;
	height:8px;
	line-height:0;
	font-size:0;
	background:url(../images/commonSignSpr.png) no-repeat;
	_background:url(../images/commonSignSpr.gif) no-repeat;
}
.u-arrowR {
	top:18px;
	right:-10px;
	width:10px;
	height:15px;
	background-position:-9px -0px;
}

.m-userList .tt{
	background-color: #346c9b;
	padding: 8px;
}
.m-userList .tt input{
	border: 1px solid #1869AD;
	vertical-align: middle;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	padding-left: 4px;
}
.m-userList .tt a{
	padding: 2px 6px;
	background-color: #fff;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
}
.m-userList .tt a:hover{
	text-decoration: none;
	background-color: #CBE7EC;
}
.m-userList .ct{
	display: block;
	overflow: auto;
}
.m-userList .ct li{
	padding: 10px;
	border-bottom: 1px solid #D0DCE9;
	border-top: 1px solid #FAFAFA;
}
.m-userList .ct li:hover ,.m-userList .ct li.cur{
	background-color: #4a8bc2;
	border-bottom: 1px solid #3D7DB3;
	border-top: 1px solid #4a8bc2;
	color: #fff;
}
.m-userList .ct li .name{
	color: #333;
	font-weight: bold;
	font-size: 14px;
	display: block;
	width: 144px;
	height: 24px;
	overflow: hidden;
}
.m-userList .ct li .desc{
	color: #333;
	font-size: 12px;
	display: block;
	width: 144px;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.m-userList .ct li .leftCon{
	margin-right: 10px;
}

/*自定义滚动条*/
/*::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px
}

::-webkit-scrollbar-track:horizontal {
	border-width: 4px 0 0
}

::-webkit-scrollbar-track:hover {
	background-color: rgba(0,0,0,.05);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.1)
}

::-webkit-scrollbar-track:horizontal:hover {
	box-shadow: inset 0 1px 0 rgba(0,0,0,.1)
}

::-webkit-scrollbar-track:active {
	background-color: rgba(0,0,0,.05);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07)
}

::-webkit-scrollbar-track:horizontal:active {
	box-shadow: inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07)
}*/
/*==自定义滚动条==*/

/*提示工作栏目*/
.m-tips{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: visibility 0,opacity .13s ease-in;
	-moz-transition: visibility 0,opacity .13s ease-in;
	-o-transition: visibility 0,opacity .13s ease-in;
	transition: visibility 0,opacity .13s ease-in;
	background-color: #2a2a2a;
	/*border: 1px solid #fff;*/
	color: #fff;
	cursor: default;
	display: block;
	font-size: 11px;
	font-weight: bold;
	margin-left: -1px;
	opacity: 1;
	padding: 7px 9px;
	position: absolute;
	visibility: visible;
	word-break: break-all;
	word-break: break-word;
	z-index: 20;
}
.m-tips-hide{
	-webkit-transition: visibility .13s,opacity .13s ease-out,left 0 linear .13s,top 0 linear .13s;
	-moz-transition: visibility .13s,opacity .13s ease-out,left 0 linear .13s,top 0 linear .13s;
	-o-transition: visibility .13s,opacity .13s ease-out,left 0 linear .13s,top 0 linear .13s;
	transition: visibility .13s,opacity .13s ease-out,left 0 linear .13s,top 0 linear .13s;
	opacity: 0;
	left: 20px!important;
	top: 20px!important;
	visibility: hidden;
}

.jfk-tooltip-data {
	display: none
}

.u-arrow1 {
	pointer-events: none;
	position: absolute;
	*display:none;
}

.u-arrow1 .before,.u-arrow1 .after {
	content: '';
	display: block;
	height: 0;
	position: absolute;
	width: 0
}

.u-arrow1 .before {
	border: 6px solid
}

.u-arrow1 .after {
	border: 5px solid
}

.u-arrowdown {
	bottom: 0
}

.u-arrowUp {
	top: -6px
}

.jfk-tooltip-arrowleft {
	left: -6px
}

.jfk-tooltip-arrowright {
	right: 0
}

.u-arrowdown .before,.u-arrowUp .before {
 	border-color:#000 transparent; 
	left: -6px
}

.u-arrowdown .after,.u-arrowUp .after {
	border-color: #2a2a2a transparent;
	left: -6px
}

.u-arrowdown .before {
	border-bottom-width: 0
}

.u-arrowdown .after {
	border-bottom-width: 0
}

.u-arrowUp .before {
	border-top-width: 0
}

.u-arrowUp .after {
	border-top-width: 0;
	top: 1px
}

.jfk-tooltip-arrowleft .before,.jfk-tooltip-arrowright .before {
	border-color: transparent #fff;
	top: -6px
}

.jfk-tooltip-arrowleft .after,.jfk-tooltip-arrowright .after {
	border-color: transparent #2a2a2a;
	top: -5px
}

.jfk-tooltip-arrowleft .before {
	border-left-width: 0
}

.jfk-tooltip-arrowleft .after {
	border-left-width: 0;
	left: 1px
}

.jfk-tooltip-arrowright .before {
	border-right-width: 0
}

.jfk-tooltip-arrowright .after {
	border-right-width: 0
}
/*==提示工作栏目==*/



/*前端框架-布局-浮动*/
.f-fl ,.floatL{
	float:left;
}

.f-fr ,.floatR{
	float:right;
}

.f-cb ,.clear{
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}
.clearfix:after{clear:both}
/*==前端框架-布局-浮动==*/

.g-hd ,.g-wrap {
	width: 100%;
}

/*顶部通栏*/
.g-hd{
	background-color: #4285f4;
}
.g-hd .g-hdc{
	padding: 10px 0;
}
.g-hd .logo i{
	width: 414px;
	height: 50px;
	display: block;
	background:url(../images/logo_header.png) 0 0 no-repeat;
	margin-left: 10px;
}
.g-hd .option{
	margin-right: 10px;
	margin-top: 8px;
}
.g-hd .option a{
	padding: 0 8px 0 12px;
	border-left: 1px solid #4076BB;
	vertical-align: middle;
	/*float: right;*/
}
/*==顶部通栏==*/

/*用户信息*/
.m-userInfo{
	background-color: #222222;
	padding:10px; 
}

.m-userInfo .leftCon img{
	width: 64px;
	height: 64px;
	margin-right: 10px;
}
.m-userInfo .rightCon p{
	font-size: 14px;
	color: #767676;
	font-family: "宋体";
}
.m-userInfo .rightCon .name{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 6px;
	font-family:"微软雅黑";
}
.m-userInfo .rightCon .name em{
	font-style: normal;
	font-size: 14px;
	color: #27ae61;
}
.m-userInfo .rightCon .grade{
	margin-bottom: 4px;
}
/*==用户信息==*/

.g-wrap {
	background-color: #353535;
}

/*side*/
.sidebar {
	background:#353535;
	box-shadow: inset -1px 0 2px 0 #222;
	/*为了支持ie8的问题，此处都调整。ie8*/
	position: absolute;
	*position: relative;
	margin-right: -229px;
	*margin-left: 0px;
	-webkit-transition: height 0.3s;
	transition: height 0.3s;
	-moz-transition: height 0.3s;
	-o-transition: height 0.3s;
	position: relative;
	z-index: 1;
}
.linkShequ{
	 position: absolute;
	 z-index: 5;
	bottom: 10px;
	right: 24px;
}
.linkShequ h4{
	font-size:10px;
	margin:10px 10px 10px 10px;
	color: #646768;
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom:1px solid #292929;
}
.linkShequ a{
	background-color: #46964f;
	color: #fff;
	text-align: center;
	border:1px solid #292929;
	border-radius:4px;
	width:180px;
	height:34px;
	line-height: 34px;
	display: block;
	margin:10px auto;
	box-shadow:0 1px 2px #333;
}
.linkShequ a:hover{
	text-decoration: none;
	background-color: #2e7c37;
	color: #c9fff5;
}

.schLogo {
	padding:4px 0 11px 0;
	width:226px;
	text-align:center;
	background:#13719a url(../images/sidebar.png) no-repeat right bottom;
}

.manageList a:link,.manageList a:visited,.manageList a:hover {
	text-decoration:none;
}
.manageList a:hover {
	background: #414141;
	color: #333;
	box-shadow:inset -1px 0 2px 0 rgba(0,0,0,.05);
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
}
.manageList a:active,.manageList a:active,.manageList a:active {
	color:#3f444c;
}

.sidebar .tab4Menu {
	padding:0;
	border-bottom: 1px solid #3F3F3F;
}

.sidebar .tab4Menu .menuCell {
	overflow:hidden;
	height:auto;
	line-height:auto;
	margin:0;
	padding:0;
	position: relative;
}
.sidebar .tab4Menu .menuCell em{
	position: absolute;
	right: 10px;
	top: 10px;
	font-family: "宋体";
	font-style: normal;
}
.sidebar .tab4Menu .menuCell a{
	display:block;
	height:25px;
	line-height:26px;
	padding:10px 0 11px 30px;
	font-size: 16px;
	color: #949697;
	border-bottom: 1px solid #292929;
	border-top: 1px solid #3F3F3F;
}
.sidebar .tab4Menu .tabMenuCurrent a{
	color: #fff;
}

.sidebar .tab4Menu .menuCell i {
	visibility:visible;
}

.sidebar .tab4Menu .secondaryMenu {
	display:none;
}

.sidebar .tab4Menu .secondaryMenu a {
	height:34px;
	line-height:34px;
	padding:0;
}
.sidebar .tab4Menu .tabSecondaryMenuCurrent .secondaryMenu {
	display:block;
	padding: 0px;
	/*padding:6px 0 0;*/
	/*background:url(../images/line1.gif) repeat-x left top;*/
	/*background: #EbEbEb url(../images/secondSidebar_bg.png) repeat-y right top;*/
	background: #EbEbEb;
	border-right: 1px solid #cdced3;
	box-shadow:inset 0 1px 0 1px #ededed;
}

.sidebar .tab4Menu .tabSecondaryMenuCurrent .menuCell {
	/*margin:0 0 5px 0;*/
	margin:0 0 0px 0;
}

.sidebar .tab4Menu .tabSecondaryMenuCurrent .menuCell a {
	padding:0 0 0 34px;
}

.sidebar .tabMenuCurrent ,.sidebar .tabMenuCurrent:hover{
	color: #fff;
	font-weight:700;
	border-radius:0;
	border:none;
	/*background:url(../images/sidebar-navBg.png) repeat-y 0 0;*/
	background-color: #4285f4;
}

.sidebar .tab4Menu .tabMenuActive {
	background: #E0E0E0 url(../images/secondSidebar_bg.png) repeat-y right top;
	border-top: 1PX Solid #DADADA;
	border-bottom: 1px solid #F8F8F8;
}
.sidebar .tab4Menu .tabMenuHover {
	border-radius:0;
	background-color: #d1d2d3;
}
/*去掉主菜单二级展开按钮背景*/
/*.sidebar .tab4Menu .tabMenuHover .icon_plusGray,.sidebar .tab4Menu .tabMenuHover .icon_minusGray {
	border-color:#bdbdbd;
	background-color:#d7d7d7;
}*/

.sidebar .tab4Menu .tabSecondaryMenuCurrent .tabMenuCurrent {
	background-position:-241px 0;
}

.sidebar .tab4Menu .tabSecondaryMenuCurrent .tabMenuHover {
	background-position:-241px -39px;
}


/*main*/
.main{
	background-color:#fff;
	border-left: 1px solid #cdced3;
	margin-left: -1px;
	display: block;
	overflow: auto;
}
.main .g-tt{
	padding: 0 10px 10px 10px;
	background-color: #fcfcfc;
	border-bottom: 1px solid #e3e3e3;
	overflow: hidden;
	height: 50px;
	display: block;
}
/*.main .g-tt .m-breakNav{*/
	/*padding:14px 0 0px 0px; */
	/*padding:14px 0 10px 0px; */
	/*border-bottom: 0px;*/
/*}*/
.main .g-ct{
	/*position: relative;*/
	padding: 10px;
	background-color: #eeeeee;
}
.mainLeft{
	margin-left:226px;
	background: #fff;
	/*border-left: 1px solid #cdced3;*/
}
.manageFunc {
	height:39px;
	border-bottom:1px solid #13658e;
	background-color:#2c7fa9;
}
.mainNav ul{
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
	font-weight: normal;
	line-height: 100%;
	font-size: 1em;
}
.mainNav li{
	margin: 3px 0 0 10px;
	padding: 1px 0;
	position: relative;
}
.mainNav li a ,.mainNav li a:link ,.mainNav li a:visited{
	color: #fff;
	height: 28px;
	line-height: 29px;
	display: block;
	padding: 0 10px;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
	width: 400px;
}
.mainNav ul li a:hover{
	text-decoration: underline;
}
.mainNav.betaLabel{
	position: relative;
	top: -1px;
	left: 3px;
	font-size: .8em;
	padding: 2px 3px;
	height: 10px;
	line-height: 10px;
	background: #ffaf00;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	border-radius: 2px;
	font-weight: 800;
	text-decoration: none;
}
.manageFuncDropdown {
	height:35px;
	padding:4px 18px 0 8px;
	border-left:2px solid #236e94;
	border-right:2px solid #236e94;
}

.manageFunc .customDropdownWrap .dropdown_currentValue {
	padding:6px 10px;
	color:#fff;
	border:none;
	border-radius:0;
}

.manageFunc .customDropdownWrap .icon_downArrStyle2 {
	border-left: 4px solid #2c7fa9;
	border-right: 4px solid #2c7fa9;
	border-top: 4px solid #fff;
}

.manageFunc .customDropdown1MouseOver .dropdown_currentValue {
	padding:6px 10px 10px 10px;
	background-color:#13658e;
}
.badge{
	position: absolute;
	font-size: 10px !important;
	font-weight: 700;
	top: 0px;
	right: 2px;
	text-align: center;
	background-color: #fb3c4a;
	padding: 4px 6px;
	-webkit-border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	border-radius: 12px !important;
	text-shadow: none !important;
	color: #fff;
	z-index:10;
}
.manageFunc .customDropdown1MouseOver .icon_downArrStyle2 {
	border-left: 4px solid #13658e;
	border-right: 4px solid #13658e;
}

.manageFunc .customDropdownWrap .dropdownItem {
	top:35px;
	*right:4px;
	_right:17px;
	border:none;
	background-color:#13658e;
	box-shadow: 0 1px 2px #0a4f71;
}

.manageFunc .customDropdownWrap .dropdownItemUl {
	border-color:#0e5b81;
}

.manageFunc .dropdownItemUl .dropdownCell a:hover,.manageFunc .dropdownItemUl .dropdownCell a:active {
	color:#24769f;
	background-color:#d5f0fe;
}

.exitA:link,.exitA:visited {
	text-align:center;
	width:102px;
	height:33px;
	line-height:33px;
	color:#fff;
	text-decoration:none;
	margin:4px 0 0 5px;
}

.exitA:hover {
	color:#47a7d9;
	background-color:#1d6f99;
	text-decoration:none;
}

.exitA:hover .icon_exit {
	background-position:-28px -257px;
}

.schHeader {
	position:relative;
	height:105px;
	/*margin:0 0 20px 0;*/
	border-bottom:1px solid #e5e6e9;
	background:#f7f7f7 url(../images/banner.png) no-repeat right bottom;
	border-left: 1px solid #cdced3;
}

.schHeader .schLogoGra {
	position:absolute;
	top:39px;
	left:20px;
	overflow:hidden;
	width:78px;
	height:78px;
	text-align:center;
	border:1px solid #ccc;
	border-radius:2px;
	background-color:#fff;
	padding: 2px
}

.schHeader .schName {
	position:absolute;
	top:49px;
	left:121px;
}

.schHeader .schName h1 {
	line-height:31px;
	font-size:24px;
	color:#333;
	font-family:'Microsoft YaHei';
}

.schHeader .schName p {
	color:#666;
	padding:5px 0 0;
}

/*.listCon .title {
	height:27px;
	line-height:27px;
	padding:5px 10px;
}*/

.listCon .title h2 {
	font-size:14px;
}

.searchWrap .customForm_searchTxtInput {
	height:27px;
}

.searchWrap input {
	font-size:14px;
}

.searchWrap .customForm_searchTxtInput .txtInput {
	padding:3px 5px 4px 5px;
	box-shadow:none;
	border-color:#d2d2d2;
}

.searchWrap .customForm_searchTxtInput .searchBtn {
	border-radius:0;
	background-color:inherit;
	border-color:#d2d2d2;
	border-left:none;
}

.searchWrap .icon_magnifier {
	height:25px;
	background-position:2px -29px;
}

.listTable {
	color:#333;
}

.listTable .listTableTitle {
	background-color:#f7f7f7;
	border-top:1px solid #eaeaea;
}

.listTable .icon_checkBtnDefault {
	background-position:-30px -32px;
}

.listTable .icon_checkBtnSelected {
	background-position:-60px -32px;
}

.listTable td {
	height:36px;
	line-height:36px;
	padding:0 10px;
	border-bottom:1px solid #eaeaea;
}
.content{
	padding:20px 18px 30px 20px;	
	/*min-height: 620px;*/
	border-left: 1px solid #cdced3;
	/*临时增加*/
	background-color: #fff;
	/*box-shadow: 
	-webkit-box-shadow:-1px 0px 2px #333333; 
    -moz-box-shadow:-1px 0px 2px #333333;
    */
}
.toolArea1{
	/*background-color: #F7F8FA;*/
	border-bottom:solid 1px #D6DADF;
	padding: 5px 0;
	/*margin-bottom: 5px;*/
}

.toolArea{
	/*background-color: #F7F8FA;*/
	/*border-bottom:solid 1px #D6DADF;*/
	padding: 5px 0;
	/*margin-bottom: 5px;*/
}
.toolArea a{
	color: #fff;
}
.toolArea select{
	position: none；
}
/*面包屑 toolArea DeBUg*/
.toolArea .breakNav {
	color: #333;
}

/*顶部包裹*/
.page-info {
	background: #F7F8FA;
	padding: 0 20px 0;
	border-bottom: solid 1px #D6DADF;
	box-shadow: 0 1px 0 #FAFAFA;
	border-left: 1px solid #cdced3;
}
/*面包屑导航*/
#page-actions {
	height: 39px;
	border-bottom: solid 1px #D6DADF;
	color: #272C32;
	position: relative;
}
#breadcrumbs {
	float: left;
	border-bottom: solid 1px #D6DADF;
	border-top: solid 1px #D6DADF;
	width: 100%;
	margin-top: -1px;
}
#breadcrumbs li {
	color: #666;
	float: left;
	margin-right: 10px;
	font-weight: 600;
	line-height: 39px;
	position: relative;
}
#breadcrumbs li a{
	color: #2c7fa9;
	margin-right: 10px;
}
#breadcrumbs li a:hover{
	text-decoration: underline;
}
#breadcrumbs li.disabled{
	margin-right: 20px;
	color: #222;
}
.arrowDivder{
	margin: 0px;
}
/*页面标题*/
.pageHeader {
	height: 68px;
	position: relative;
}
.pageHeader h2 {
	float: left;
	color: #020202;
	font-weight: 800;
	font-size: 1.6em;
	line-height: 68px;
}
.pageHeader .funIntro{
	padding-top: 6px;
	padding-left: 10px;
	margin: 25px 0px 0px 10px;
	border-left:1px solid #888;
	float: left;
	color: #666;
	font-size: 12px;
}
/*提示栏目*/
.flashMessage.error, .flashMessage.error a {
	/*background-color: #EDCECA;*/
	color: #552E2B;
	border: 1px solid #F4CC6F;
	background: #F8EBBF;
	border-radius: 3px;
	box-shadow: 0 1px 3px #DDD;
	color:#0d293c
}
.flashMessage.alertInfo, .flashMessage.alertInfo a {
	background-color: #7fbbe3;
	border:1px solid;
	border-color: #6ab0de;
	border-top-color: #6eb2df;
	border-bottom-color: #55a5d9;
	color: #0d293c;
	box-shadow: 0 1px 3px #DDD;
}
.flashMessage {
	padding: 2px 20px;
	overflow: hidden;
	position: relative;
}
.flashMessage p {
	display: block;
	float: left;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5em;
	padding: 10px 0;
	position: relative;
}
/*头像上传*/
.changePicWrap{
	height: 72px;
	position: relative;
	color: #191b1e;
}
/*估计以后会使用到*/
/*.avatar {
	border:1px solid #b0b1b2;
	background: #fff;
	margin-right: 20px;
	border-radius: 2px;
	float: left;
	width: 68px;
	height: 68px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
.avatar a:link,.avatar a:visited{
	display:inline-block;
	padding:2px;
	border:none;
}
.avatar a:link,.avatar a:visited{
	padding:2px;
	border:none;
	box-shadow:none;
}*/
.uploadBtnWarp{
	float: left;
}
.uploadBtnWarp p{
	font-size: 12px;
	color: #666;
	margin-bottom: 5px;
}


/*footer*/
.g-ft {
	line-height:18px;
	padding:8px 10px;
	color:#888;
	border-top:1px solid #e5e6e9;
	font-size: 12px;
	font-family:"宋体";
	background-color: #fff;
}
/*宽度*/
.width320{
	width: 320px;
}
/*页面信息提示锚点*/
.funInfo a:hover{
	opacity:0.4;
	filter:alpha(opacity=40);
}

.funInfoWarp{
	z-index:1300;
}
.funInfoCont{
	word-wrap: break-word;
	background-color: #f9edbe;
	font-size: 90%;
	min-height: 50px;
	outline: 1px solid #f0c36d;
	padding: 16px;
	width: 230px;
}

/*主页统计面板*/
/*第一行*/
.firstRow {
	margin:10px -15px 30px 0px;
	*margin:10px -15px 0px 0px;
}
.dataPanWarp{
	display: block;
	width: 16%;
	float: left;
	position: relative;
	min-height: 1px;
	margin-right:5px;
	background-color: #fff;
	box-shadow:0px 2px 1px rgba(0,0,0,0.05);
}
.dataPanWarp h4{
	font-size: 13px;
}
.dataPanWarp p{
	display: block;
	width:14%; 
	height: 45px;
	font-size: 30px;
}
.dataCon1{
	border:1px solid #e5e6e9;
	padding: 19px 18px 7px 24px;
	color: #0090d9;
}
.dataCon2{border:1px solid #e5e6e9;padding: 19px 18px 7px 24px;color: #0aa699;}
.dataCon3{border:1px solid #e5e6e9;padding: 19px 18px 7px 24px;color: #f35958;}
.dataCon4{border:1px solid #e5e6e9;padding: 19px 18px 7px 24px;color: #736086;}
.dataCon5{border:1px solid #e5e6e9;padding: 19px 18px 7px 24px;color: #dd6d00;}
.dataCon6{border:1px solid #e5e6e9;padding: 19px 18px 7px 24px;color: #10b708;}
/*第二行*/
.secRow{
	height: 315px;
	margin:10px -15px 10px 0px;
	*margin:0px -15px 10px 0px;
	width: 100%;
}
.rightWarp{
	width: 16.2%;
	display: block;
	float: left;
	position: relative;
	min-height: 1px;
	/*padding-right: 6px;*/
	margin-right:5px;
}	
.data{
	background-color: #fff;
	margin-bottom: 5px;
	border:1px solid #e5e6e9;
	padding:15px 18px 7px 24px;
	color: #0090d9;
	box-shadow:0px 2px 1px rgba(0,0,0,0.05);
}
.data h4{
	color: #8b91a0;
	font-size: 13px;
}
.data p{
	font-size: 30px;
	color: #333;
}
.leftWarp{
	/*width: 66.0%;*/
	width: 49.0%;
	display: block;
	float: left;
	position: relative;
	min-height: 1px;
	background-color: #fff;
	border:1px solid #e5e6e9;
	margin-right: 5px;
	box-shadow:0px 2px 1px rgba(0,0,0,0.05);
}
.titleCon{
	padding: 20px 0 0 20px;
}
.titleCon h4{
	color: #8b91a0;
	font-size: 13px;
}
.titleCon p{
	margin-top: 7px;
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
.dataInfo{
	padding: 12px 20px 0 20px;
}
.heading{
	width: 100%;
	height: 4px;
	background-color: #ebeef1;
}
/*左边图表区域*/
.leftDivder{
	height: 4px;
	width: 20%;
	background-color: #0aa699;
	font-size: 0;
	line-height: 0;
}
.dataDescription{
	padding-top: 12px;
	color: #999;
	font-size: 12px;					
}
.dataDescription li{
	float: left;
}
.dataDescription .square1{
	margin-left: 2px;
	display: block;
	float: left;
	background-color: #eceff1;
	width: 14px;
	height:14px;
	margin-right:5px;
}
.dataDescription .square2{
	margin-left: 2px;
	display: block;
	float: left;
	background-color: #66ccff;
	width: 14px;
	height:14px;
	margin-left: 20px;
	margin-right:5px;
}		
.dataCon{
	padding-top: 34px;
}
.tiles{
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	display: block;
	/*width: 100%;*/
	height: 160px;
	overflow: hidden;
}
.detail{
	pointer-events: none;
	position: absolute;
	top: 140px;
	z-index: 2;
	background: rgba(0, 0, 0, 0.2);
	bottom: 0;
	width: 1px;
	transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	-webkit-transition: opacity 0.25s linear;
}
.x_label{
	background-color: #fff;
	border: 1px solid #f1f1f1;
	color: #333;
	position: absolute;
	top: 40px;
	left: 30px;
	padding: 4px 8px;
}
.item{
	position: absolute;
	top: 158px;
	left: 48px;
	padding: 4px 8px;
	background: rgba(252, 200, 124, 0.9);
	border: 1px solid #ecb15b;
	color: #fff;
	border-radius:2px;
}
.dot{
	position: absolute;
	top: 168px;
	left: 30px;	
	height: 10px;
	width: 10px;
	border-radius: 6px;
	background-color: #464748;
}
.infoListWarp{
	width: 32.5%;
	/*width: 30%;*/
	display: block;
	float: left;
	position: relative;
	background-color: #fff;
	border: 1px solid #e5e9ec;
	height: 313px;
	box-shadow:0px 2px 1px rgba(0,0,0,0.05);
}
.infoListHeader{
	width: 100%;
}
.infoListHeader h4{
	color: #8b91a0;
	font-size: 13px;
	padding:20px 20px 16px 20px;
}
.infoListHeader p{
	padding: 0 0 12px 20px;
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
.listWarp{
	border-top: none;
	padding:0px 20px 20px 20px;
	height: 174px;
}
.listWarp ul{
	height: 200px;
}
.listWarp ul li{
	height: 28px;
	line-height: 30px;
	padding: 5px 0;
	border-bottom: 1px dotted #ebeef1;
	overflow:hidden;
}
.listWarp li a {
	margin: 0 3px;
	color: #2c7fa9;
}
.listWarp p{
	width: 60%;
	height: 23px;
	overflow: hidden;
	display: inline-block;
}
.trendsWrap li span{

}
.listWarp .newItem{
	float: left;
	display: block;
	width: 60%;
	height: 30px;
	overflow: hidden;
}
.listWarp .time{
	display: inline-block;
	float: right;
	color: #666;
}
.listMore{
	/*background-color: #eceff1;*/
	border-top: 1px solid #eceff1;
	padding:10px 20px;
	text-align: right;
}
/*第三行*/
.thirdRow{
	margin:10px -15px 0px 0px;
	padding:5px;
	width: 98%;
	border:1px solid #e5e9ec;
	background-color: #fff;
	box-shadow:0px 2px 1px rgba(0,0,0,0.05);
}
.chartWarp{
	display: block;
	width: 20%;
	float: left;
	position: relative;
	min-height: 1px;
	margin-right: 10px;
	padding: 50px 0 30px 30px;
	float: left;
}
.chartWarp .parentsDetail{
	float:left;
	display: block;
	width: 50%;
}
.chartWarp .parentsDetail h4{
	font-size: 14px;
	color: #9d9d9d;
}
.chartWarp .parentsDetail p{
	display: block;
	font-size: 12px;
	color: #333;
	line-height:24px;
}
.chartWarp .chart{
	display: block;
	float: left;
	width: 49%;
}
/*热门新鲜事*/
.chartWarp_1{
	display: block;
	width: 19%;
	float: left;
	position: relative;
	min-height: 1px;
	margin-right: 10px;
	padding: 30px 0 0px 30px;
}
.parentsDetail_1 h4{
	font-size: 14px;
	color: #9d9d9d;
}
.chartWarp_1 .parentsDetail_1{
	float:left;
	display: block;
	width: 100%;
}
.chartWarp_1 .hotBlog{
	/*color: #9d9d9d;*/
	color: #f35958;
}
.chartWarp_1 .commetTitle{
	color: #f35958;
}
.parentsDetail_1 strong{
	color: #333;
	font-size: 32px;
	line-height: 40px;
}
/*科目选择器*/
.itemList li{
	float: left;
	white-space: nowrap;
}


/*教师科目弹窗*/
.itemShowWarp {
	width:406px
}
.itemShowWarp .grayTxt{
	float: left;
	padding-left:8px
}
.itemShowWarp .grayTxt a{
	font-size: 12px;
	color: #2c7fa9;
}

/*登录页面*/
.m-login{
	width: 100%;
	display: block;
	background: #4090f1 url(../images/bg_login.png) 0 0 repeat-x;
	height: 625px;
}
.m-login .tt{
	padding:20px;
}
.m-login .tt .leftCon a{
	width: 400px;
	height: 46px;
	display: block;
	background: url(../images/login_logo.png) 0 0 no-repeat;
}
.m-login .tt .rightCon a{
	color: #fff;
	font-size: 18px;
	text-decoration: underline;
	line-height: 36px;
	height: 36px;
	padding-right: 24px;
	background: url(../images/bg_regLink.png) right 2px no-repeat;
}
.m-login .tt .rightCon a:hover{
	color: #81A8FC;
}
.m-login .ctWrap{
	width: 440px;
	height: 455px;
	display: block;
	margin: 0 auto;	
	position: relative;
}
.m-login .ctWrap .ct{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 455px;
	display: block;
	background:url(../images/bg_forum_24.png) 0 0 no-repeat;
	_background:url(../images/bg_forum_8.png) 0 0 no-repeat;
}
.m-login .ft{
	text-align: center;
	color: #f3f7fd;
	font-size: 14px;
	border-top: 1px solid #3487e5;
	margin-top: 70px;
	padding-top: 20px;
	line-height: 24px;
	padding-bottom: 20px;
}
#mainForm{
	padding: 138px 60px 0 50px;
}
#password, #kapkey, #account {
	line-height: 22px;
	padding: 14px 0;
	height: 22px;
	background-color: #ededed;
	border:1px solid #e4e4e4;
	padding-left: 20px;
	width: 320px;
}
#kapkey{
	width: 160px;
}
.normalInput{
	position: relative;
}
.normalInput input {
	font-size: 16px;
	width: 100%;
	height: 50px;
}
.inputFocus #account ,.inputFocus #password ,.inputFocus #kapkey{
	border: 1px solid #5199f8;
	color: #333;
}
#account:focus ,#password:focus ,#kapkey:focus{
	border: 1px solid #5199f8 ;
    color: #333;
    -webkit-box-shadow: 1px 0px 2px #f2f2f2;
    -moz-box-shadow: 1px 0px 2px #f2f2f2;
    box-shadow: 1px 0px 2px #f2f2f2; 
}

.inputTips {
/*	font-size: 16px;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #b94a48;
	border: 2px solid #eed3d7;
	background-color: #f2dede;
	padding:15px 0 15px 10px;
	width: 330px; 
	overflow: hidden;
	height: 22px;
	display: none;*/
	font-size: 16px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #EE3550;
	padding: 14px 10px 14px 10px;
	width: 320px;
	overflow: hidden;
	height: 22px;
	display: none;
	color: red;
	text-align: right;
}
/*禁止标签被选中的效果*/
#login{
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
/*==禁止标签被选中的效果==*/
.fullBtnBlue{
	background-color: #8bd728;
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	width: 340px;
	height: 48px;
	font-size: 18px;
	line-height: 48px;
	overflow: hidden;
	cursor: default;
	border:none;
}
.fullBtnBlue:hover{
	text-decoration: none;
	background-color: #6fb317;
	color: #EBFFD2;
}
.fullBtnBlue:active{
	color: #9CE245;
	box-shadow: inset 0 1px 2px #5e9d0c; 
}
.transferField{
	margin-top: 17px;
	margin-right: 2px;
}
.transferField a{
	font-size: 16px;
	color: #999999;
}
.transferField a:hover{
	color: #3598dc;
}
.transferField a.linkAGray{
	background:url(../images/bg_findKeyLink.gif) 0 1px no-repeat;
	padding-left: 24px;
}
/*==登录页面==*/
input.js-date-type-radio {
	margin-right: 5px;
	margin-left: 5px;
}
/*班主任评语*/
.tabSet-teacherComment{
	margin-bottom:10px;
	
}
.tabSet-teacherComment tr td{
	position: relative;
	z-index: 1;
	background: #F5F5F5;
	color: #909090;
	padding-bottom: 50px; 
}
.tabSet-teacherComment tr td strong{
	font-size: 15px;
	color: #060606;
}
.tabSet-teacherComment span{
    font-weight: bold;
    color: #6d6d6d;
    padding-left:5px;
}
.tabSet-teacherComment em{
	font-style: normal;
    font-weight: bold;
    color: #2fcc71
}
.tabSet-teacherComment em.behind{
	font-style: normal;
    font-weight: bold;
    color: #ff1600
}
.tabSet-teacherComment a{
	position: absolute;
	z-index: 5;
	bottom: 0px;
	left: 50%;
	margin-left: -45px;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #3598dc;
	border:1px solid #e6e6e6;
	border-bottom: 0px none;
	border-radius: 3px 3px 0 0;
	background-image:-webkit-linear-gradient(to top,#ffffeb, #fffffc);
	background-image:linear-gradient(to top,#ffffeb, #fffffc);
}
.tabSet-teacherComment a i{
	border-top:4px solid #3598dc;
	border-bottom: 4px solid #fffff8;
	height: 0px;
	width: 0px;
	display: inline-block;
	border-right: 4px solid #fffff8;
	border-left: 4px solid #fffff8;
	margin-left: 5px;
}
.tabSet-teacherComment a:hover{
	text-decoration: none;
	background-image:-webkit-linear-gradient(to top,#f2f293, #fffffc);
	background-image:linear-gradient(to top,#f2f293, #fffffc);
}
.tabSet-teacherComment a:hover i{
	border-right: 4px solid #f5f5aa;
	border-left: 4px solid #f5f5aa;
}
.tabSet-teacherComment a i.btn-up{
	border-bottom:4px solid #3598dc;  
	border-top: 4px solid #fffff8;
}
/*==班主任评语==*/
