/*全局*/
body {
	font-size:12px;
	text-align:center;
	line-height:1.2;
	padding:0;
	margin:0;
	font-family:'Microsoft YaHei';
}

div,h1,h2,h3,h4,h5,h6,ol,ul,li,dl,dt,dd,form,input,select,textarea {
	text-align:left;
	padding:0;
	margin:0;
}

input,select,textarea,table {
	font-size:12px;
	font-family:'Microsoft YaHei';
}

ol,ul {
	list-style:none;
}

p {
	padding:0;
	margin:0;
}

img {
	vertical-align:middle;
	border:none;
}

a:hover {
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
}

/*align*/
.textAlignC {
	text-align:center;
}

/*width*/
.width82 {
	width:82px;
}

.width100 {
	width:100px;
}

.width110 {
	width:110px;
}

.width184 {
	width:184px;
}

.width298 {
	width:298px;
}

.width306 {
	width:306px;
}

.width330 {
	width:330px;
}

.width344 {
	width:344px;
}

.width348 {
	width:348px;
}

/*height*/
.height24 {
	height:24px;
	line-height:24px;
}

.exampleWrap {
	width:800px;
	padding:15px;
	border-radius:4px;
	border:1px solid #e5e5e5;
	margin:35px auto 0 auto;
	box-shadow:1px 1px 2px #f0f0f0;
}

.exampleWrap h3 {
	/*font-size:14px;*/
}

.exampleWrap h3,.exampleWrap p {
	/*height:35px;*/
	/*line-height:35px;*/
}

.exampleWrap .inner {
	padding:0 0 15px 0;
}

a {
	color:#000;
	text-decoration:none;
}

a:hover,a:active {
	color:#072;
	text-decoration:underline;
}
/*tab4*/
a.LWhiteA:link,a.LWhiteA:visited {
	color:#c0dfc0;
	text-decoration:none;
}

a.LWhiteA:hover {
	color:#225e30;
	text-decoration:none;
}

a.LWhiteAB:link,a.LWhiteAB:visited {
	color:#c0dfc0;
	text-decoration:underline;
}

a.LWhiteAB:hover {
	color:#225e30;
	text-decoration:underline;
}

 

.greenBgColor {
	background:#469d52;
}

/*分页*/
.page {

}
.page b{
	padding: 2px 9px;
	margin: 0 3px;
	border: 1px solid #B8BFC4;
	vertical-align: middle;
	background: #B8BFC4;
	color: #fff;
}
.page div {
	width:auto;
	overflow:hidden;
	text-align:center;
	clear:both;
	margin:0;
	padding:0;
	background: #FAFAFA;
}

#info {
	padding:4px 0;
	display:inline-block;
}

.page a {
	 font-family:'simsun';
	color:#505050;
	display:inline-block;
	padding:4px 9px;
	margin:0 3px;
	border:1px solid #e7e7e7;
	background: #EEE;
	vertical-align:middle;
}

.page a:hover {
	text-decoration:none;
	color:#fff;
	background: #4a8bc2;
	border: 1px solid #4a8bc2;
}

.page .current {
	display:inline-block;
	padding:0 7px;
	font-weight:bold;
}
.page .pn {
	font-family: 'simsun';
}

/*==分页==*/
.container{
  width: 1190px;
  margin:0 auto 
}

.topNav{ width:100%;min-width: 1020px; background:#3d3d3d; height:30px;position: fixed;z-index: 10000;top: 0px;}
.topNav li{line-height:30px;font-size: 12px; color:#dcdcdc;text-align: center;border-left: 1px solid #2f2f2f; float: left; height: 30px;}
.topNav li.last{border-right: 1px solid #444444;}
.topNav .left li{position: relative;padding: 0px 8px;}
.topNav .left li.phoneNum{font-size: 14px;}
.topNav .left li .phone{display: inline-block;
overflow: hidden;
margin-right: 5px;
width: 16px;
height: 18px;
background: url(../images/master2.png) no-repeat -178px -15px;}
.topNav .left li .dowm{margin-left: 5px;}
.topNav .right{float: right;}
.topNav .right li a{font-size: 12px; color:#dcdcdc;padding: 0px 18px;float: left;}
.topNav .right li a:hover{
	text-decoration: none;
}
.topNav .right li span{float: left;}
.topNav .right .name{color: #e25353;}
.topNav .right li .customerVip{margin: 7.5px 0px 0px 5px;}
.topNav .navDown{background-color:#2f2f2f; overflow: hidden; position: absolute;z-index: 999; top: 30px; left: 0px;color: #ffffff;display:none;}
.topNav .followUs{padding: 10px 20px 20px 20px; width: 226px;}
.topNav .followUs .code{width: 95px; float: left; margin-right: 15px;}
.topNav .followUs .code span.txt{font-size: 12px;color: #dcdcdc;}
.topNav .followUs .link{float: left; width: 116px;}
.topNav .followUs .link a{border: 1px solid #404040;}
.topNav .followUs .link a:hover{border: 1px solid #999999;}
.topNav .followUs .link a.sina{margin: 30px 0px 15px 0px;}
.topNav .arrows{width:10px; height:6px; margin-left: 5px; background-position: -196px -20px}/*.down*/
.topNav .qqGroup{padding: 0px 10px;}
.topNav .qqGroup .group{margin-right:5px;}
.topNav .qqGroup p{height: 40px; line-height: 40px; width: 160px;}
.topNav li.hover,.topNav li:hover{color:#e25353;background-color: #2f2f2f;}
.topNav li.hover .arrows,.topNav li:hover .arrows{width:10px; height:6px;background-position: -196px -28px}/*.top*/
.topNav li.hover .navDown,.topNav li:hover .navDown{display: block;}
.topNav .right li{position: relative;}
.topNav .news{width:350px;padding:0px 15px; right: 0px; left: auto;color: #ffffff;}
.topNav .news .lbl{line-height: 35px;font-size: 14px; text-align: left;border-bottom: 1px dashed #ffffff;}
.topNav .news .title{width:100%;font-size: 12px;overflow: hidden;}
.topNav .news .title .t{float: left;}
.topNav .news .title .d{float: right;}
.topNav .news .content{width: 100%;font-size: 12px;color: #ffffff; line-height: 20px;text-align: left;}
.topNav .news .viewMore{width:100%;line-height: 50px; text-align: center;padding: 0px;}
.topNav .newsCount{border: 1px solid #e25353; height:18px; line-height:18px;margin: 5px 0px 0px 5px;padding: 0px 3px; color:#e25353; border-radius: 3px;}
.topNav li.hover .navDownHide,.topNav li:hover .navDownHide{display: none;}



.header{height:92px; width: 100%;min-width: 1020px;border-bottom:1px solid #dadada;padding-top: 30px;background: #fff;}
.header .logo{margin:23px 0px 0px 20px;float: left;
width: 234px;
height: 45px;
display: inline-block;
overflow: hidden;
background: url(../images/master2.png) no-repeat  -4px -51px;
_background: url(../images/master2.gif) no-repeat  -4px -51px;}
.header .nav{float: right;}
.header .nav ul{margin:40px 0px 5px 0px;}
.header .nav li{float: left; font-size: 16px; color: #666666; width:106px; text-align: center; position: relative;
z-index: 1;}
.header .nav li .secUl{
	position: absolute;
	z-index: 5;
	top: -10px;
	left: 0px; 
	border: 1px solid #dbdbdb;
	background: #fff;
	border-radius: 3px;
	box-shadow: 3px 3px 5px #cccccc;
	display: none;
}
.header .nav li .sec{
   padding:0 20px; 
   line-height: 30px}
.header .nav li .secUl li{
	line-height: 30px;
	text-align: center;
	padding:0px ;
	width: 100%;
}
.header .nav li span{
	position: absolute;
	z-index: 10;
	width: 16px;
	height: 9px;
	top: 22px;
	left: 50%;
	display: none;
	margin-left: -8px;
	background: url(../images/traTop.gif) no-repeat 0 3px;
}
.header .nav li .secUl li a{
	display: block;
	font-size: 14px;
	color: #909090
}
.header .nav li .secUl li a:hover{
	background: #e25353;
	color: #fff;
	text-decoration: none;
}
.header .nav li a{color: #666;}
.header .nav li.last{margin-right: 0px;}
.header .nav li a:hover,.header .nav li.active a{color:#e25353;}
.header .cut{float: left; width: 1px; border-right: 1px solid #dadada; height: 30px; margin: 25px 10px 0px 10px;}
.header .siteDesDiv{ float: left; height: 40px; overflow: hidden; margin-top: 20px;}
.header .siteDesDiv li{width: 100px;height: 40px; }
.header .siteDesDiv li span{width: 100px;float: left;font-size: 12px;font-weight: bold;line-height: 20px;}
.header .siteDesDiv li .des{color: #e52e2e;}
.header .siteDesDiv li .company {color:#505050;}

/*底部*/
.footer{  
	height: 95px;
	background: #2f2f2f;
	
}
.footer .ui-dlist{
	width: 990px;
	margin:0 auto; 
	display: block; 
	position: relative;
	z-index: 1;
}
.footer .ui-dlist-tit{
	 font-size: 14px;
	 color: #999999;
	 float: none;
	 width: 100%;
	 padding-top: 25px;
	 padding-bottom: 10px;
	 text-align: center;
}
.footer .ui-dlist-det{ 
	 color: #565656;
	 float: none;
	 width: 100%;
	 text-align: center;
	 font-size: 12px;
} 
/*==底部==*/
body{
	background-color: #f3f3f3; 
	font-size: 12px;
	text-align: center;
	line-height: 1.2;
	font-family: 'Microsoft YaHei';
}

/*公共表单模块*/
.project {
	border: 1px solid #dadada;
	border-radius: 3px; 
	margin-top: 12px;
	background-color: #ffffff;
	position: relative;
}
.project .projectTitle{
	height: 44px;
	border-bottom: 1px solid #ececec;
	margin: 0px 15px 0px 15px; 
	text-align: left;
}
.project .projectTitle .projectName{
	line-height: 44px;
	color: #585858;
	padding:0 2px; 
	font-weight: bold;
	font-size: 16px;
	position: relative;
	z-index: 1; 
	display: inline-block;
}
.project .projectTitle .projectName:hover{
	text-decoration: none;
}
.project .projectTitle .projectName span{
	position: absolute;
	z-index: 5;
	bottom: -1px; 
	left: 0px;
	height: 2px;
	width: 100%;
	background: #e43636;
	display: inline-block;
}
.project:hover {
box-shadow: 2px 2px 3px #dadada;
/*box-shadow: 0px 4px 10px #dadada;*/
}
/*==公共表单模块==*/
/*表格样式调整*/
.tableCon{
  padding: 15px 20px;	
}
.tableSet tbody td{
	color: #929191;
}
.tableSet thead th{
	font-weight: bold;
	color: #696969;
}
.tableBtn a{
	float: right;
	margin-bottom: 10px;
}
/*==表格样式调整==*/

.f-fl{
	float: left; 
}
.f-fr{
	float: right; 
}

/*分页调整*/

/*分页*/
.page {
	clear:both;
	margin:15px 0;
	padding:5px 0;
	background: #FAFAFA;
}

.page div {
	width:auto;
	overflow:hidden;
	text-align:right;
}

/*#info {
	padding:4px 0;
	display:inline-block;
}*/

.page a {
	color:#747474;
	display:inline-block;
	padding:4px 9px;
	margin:0 3px;
	border:1px solid #e7e7e7;
	background: #EEE;
	vertical-align:middle; 
}

.page a:hover {
	text-decoration:none;
	color:#fff;
	background:#AE9883;
	border:1px solid #87725d;
}

.page .current {
	display:inline-block;
	padding:0 7px;
	font-weight:bold;
}


.page,.page div{
  background: none;
}
.page div { 
  text-align: center;
}
.page a {
	border-radius: 3px;
	color: #434445; 
	border: 1px solid #dbdbdb;
	background: #ffffff; 
}
.page a:hover,.page b{ 
	border-radius: 3px;
	color:#fff;
	background:#e54949;
	border:1px solid #edadad;
}
/*== 分页调整 ==*/


