
/*新增图标库-表单*/
.icon_orderUpSmall,.icon_orderDownSmall,.icon_setSmall,.icon_delSmall,.icon_editSmall,.icon_toUpSmall,.icon_upCancel,.icon_menuSubSmall/*,.icon_home*/{
	display:inline-block;
	width:19px;
	height:18px;
	line-height:0;
	font-size:0;
	vertical-align:middle;
	background:url(../images/icon_add.png) no-repeat 0px 0px;
	_background:url(../images/icon_add.gif) no-repeat 0px 0px;
}
/*.icon_home{
	background-position:0px -337px;
}*/
.icon_orderUpSmall{
	background-position:0px -25px;
}
.icon_orderUpSmall:hover{
	background-position:-26px -25px;
}
.icon_orderDownSmall{
	background-position:0px -49px;
}
.icon_orderDownSmall:hover{
	background-position:-26px -49px;
}
.icon_setSmall{
	background-position:0px 0px;
}
.icon_setSmall:hover{
	background-position:-26px 0px;
}
.icon_editSmall{
	background-position:0px -72px;
}
.icon_editSmall:hover{
	background-position:-26px -72px;
}
.icon_delSmall{
	background-position:0px -96px;
}
.icon_delSmall:hover{
	background-position:-26px -96px;
}
.icon_toUpSmall{
	background-position:0px -120px;
}
.icon_toUpSmall:hover{
	background-position:-26px -120px;
}
.icon_upCancel{
	background-position:0px -142px;
}
.icon_upCancel:hover{
	background-position:-26px -142px;
}
.icon_menuSubSmall{
	background-position:0px -163px; 
	width: 14px;
}
/* css  fixed*/
.exampleWrap h3, .exampleWrap p {
	line-height: 14px;
}

.customForm_inputBoxDefault, .customForm_inputBoxGetFocus1 {
	color: #333;
}

.customForm_inputBoxDisabled,.customForm_inputBoxDefault,.customForm_inputBoxGetFocus1,.customForm_inputBoxGetFocus2,.customForm_inputBoxFinish,.customForm_inputBoxError1,.customForm_inputBoxError2,.customForm_controlInputBox {
	box-shadow: none;
	*line-height: 24px;
	*padding: 0px 4px;	
	background: #fbfbfb;	
}

.icon_errorSmall, .icon_warningSmall, .icon_finishSmall, .icon_hintSmall, .icon_querySmall {
margin: 2px 2px 0 0;
}
/*最大宽度*/
.widthAll{
	width: 98%;
}
/*去掉ie6的黑边框*/
.button-wrapper{
	display: block;
	padding: 0;
	width: 130px;
	border: #707070 1px solid;
	cursor: pointer;
}
/*==新增全局样式==*/
input,button,select,textarea{
	font-size:14px;
	font-family:'Microsoft YaHei';
	outline:none;
	vertical-align: middle;
}

/*针对listCon部分*/
.listCon input{
	height: 22px;
	text-indent: 5px;	
}
.listCon input.customBtn{
	height: auto;
	text-indent: 0px;		
}
textarea{resize:none}
::-webkit-input-placeholder { color:#999999; }
input:-moz-placeholder { color:#999999; }

/*==新增表单元素经过样式==*/
.customForm_inputBoxDefault:hover,.customForm_textarea:hover,.customForm_inputBoxDefault:focus,.customForm_textarea:focus,.customForm_inputBoxDefault-hover {
	border: 1px #bfbfbf solid;
	box-shadow: inset 0 1px 0 #e2e2e2;
}
.customForm_inputBoxError1:hover,.customForm_inputBoxError1:focus {
	box-shadow:0 0 6px #ffde00;
}
.customForm_inputBoxError2:hover,.customForm_inputBoxError2:focus {
	box-shadow:0 0 6px #ff8170;
}
/*==新增连接色==*/
a {
	color: #3598dc;
	text-decoration: none;
}

a:active, a:hover {
	color: #3598dc;
	text-decoration: underline;
}
/*==新增按钮==*/
/*富文本 富媒体上传-按钮*/
/*.edui-default .edui-dialog-buttons .edui-button .edui-button-body{
	padding: 5px 13px;	
	border-radius: 2px;
	border: 1px solid #2a80b9;
}*/
/*黑色按钮*/
.colourBlack  {
	color: #fff;
	background-color: #545657;
	border-color: #545657;
	/*box-shadow: inset 0 1px 0px #368ebb;*/
}
.colourBlack:hover  {
	color: #fff;
	text-decoration: none;
	background-color: #434445;
	border-color: #434445;
	/*box-shadow: inset 0 1px 0px #449ac8;*/
}

.colourBlack:active {
	color: #fff;
	text-decoration: none;
	background-color: #434445;
	border-color: #434445;
	box-shadow: inset 0 2px 3px #262727;
}
/*白色按钮*/
.colourWhite  {
	color: #9d9d9d;
	background-color: #f3f3f3;
	border-color: #dfdfdf;
	/*box-shadow: inset 0 1px 0px #368ebb;*/
}
.colourWhite:hover  {
	color: #9d9d9d;
	text-decoration: none;
	background-color: #fff;
	border-color: #dfdfdf;
	/*box-shadow: inset 0 1px 0px #449ac8;*/
}

.colourWhite:active {
	color: #9d9d9d;
	text-decoration: none;
	background-color: #fff;
	border-color: #dfdfdf;
	box-shadow: inset 0 2px 3px #c6c6c6;
}
/*绿色按钮*/
.colourGreen  {
	color: #fff;
	background-color: #66b34e;
	border-color: #66b34e;
	/*box-shadow: inset 0 1px 0px #368ebb;*/
}
.colourGreen:hover  {
	color: #fff;
	text-decoration: none;
	background-color: #509f37;
	border-color: #509f37;
	/*box-shadow: inset 0 1px 0px #449ac8;*/
}

.colourGreen:active {
	color: #fff;
	text-decoration: none;
	background-color: #509f37;
	border-color: #509f37;
	box-shadow: inset 0 2px 3px #40792e;
}
 
/*蓝色按钮*/
.colourDarkBlue ,.colourDarkGreen ,.colourDarkGreen:link ,.colourDarkGreen:visited ,.edui-default .edui-dialog-buttons .edui-button .edui-button-body {
	color: #fff;
	background-color: #3598dc;
	border-color: #2a80b9;
	/*box-shadow: inset 0 1px 0px #368ebb;*/
}
.colourDarkBlue:hover ,.colourDarkGreen:hover ,.edui-default .edui-dialog-buttons .edui-button .edui-state-hover .edui-button-body {
	color: #fff;
	text-decoration: none;
	background-color: #2a80b9;
	border-color: #2a80b9;
	/*box-shadow: inset 0 1px 0px #449ac8;*/
}

.colourDarkBlue:active ,.colourDarkGreen:active ,.edui-label:active{
	color: #8BCCF6;
	text-decoration: none;
	background-color: #2a80b9;
	border-color: #2a80b9;
	box-shadow: inset 0 2px 3px #1e70a7;
}
.colourLightGray{
	color:#595a59;
	background-color:#f3f3f3;
	background-image:none;
	border-color:#bdbebb;
	box-shadow:inset 0 1px 0 #fff;
}

/*灰色按钮*/
.colourDarkGrey ,.colourDarkGrey:link ,.colourDarkGrey:visited {
	color: #808b8d;
	background-color: #fff;
	border-color: #96a6a6;
}
.colourDarkGrey:hover{
	color: #fff;
	text-decoration: none;
	background-color: #96a6a6;
	border-color: #96a6a6;
}
.colourDarkGrey:active{
	color: #fff;
	text-decoration: none;
	background-color: #808b8d;
	border-color: #808b8d;
	box-shadow: inset 0 2px 3px #717f81;
}
.state-upload{
	display: block;
	width: 40px;
	height: 10px;
	background:url(../images/loading.gif) no-repeat 0 0;
}
.customBtnLarge .state-upload{
	margin: 4px 28px;
}
.btnBlueEnabled{
	background-color: #2a80b9;
}

/*==新增h1==*/
h3 {
	margin-bottom: 10px;
}
/*==新增表格样式==*/
/* 默认样式*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: normal;
}

.tableSet {
	border-collapse: collapse;
	border: 1px solid #eaeaea;
	width: 100%;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
}

.tableSet thead {
	color: #666;
	background-color: #ececec;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f3f3f3');
	background: -webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#f3f3f3));
	background: -moz-linear-gradient(top,#f7f7f7,#f3f3f3);
	background: -o-linear-gradient(top,#f7f7f7,#f3f3f3);
	background: linear-gradient(top,#f7f7f7,#ececec);
}

.tableSet thead tr {
	color: #666;
	text-shadow: 0px 1px rgba(255,255,255,.3);
	font-weight: bold;
	color: #333;
	text-align: center;
}

.tableSet thead tr th {
	border: 1px solid #e3e3e3;
}
.tableSet thead .order:hover {
	background-color: #c2e8fc;
	border-color: #9dd3ef;
	color: #4a9fcc;
	box-shadow: none;
}

.tableSet tr {
	color: #333;
}
.tableSet .trDivder th{
	font-weight: bold;
	border-top:1px solid #C6F0BE;
	border-bottom:1px solid #C6F0BE;
}
.tableSet .trDivder {
	background-color: #EDFFE2;
	font-style:inherit;
}
.tableSet .trDivder:hover{
	background-color: #EDFFE2;
}

.tableSet th {
	padding: 7px 9px;
	border-bottom: 1px solid #e3e3e3;
	text-align: left;
}

.tableSet td {
	padding: 8px 9px 7px;
	border: 1px solid #e3e3e3;
	/*position: relative;*/
}
.tableSet td .s-greenTxt{
	background-color: #2da138;
	color: #fff;
	padding: 2px 14px;
	width: 42px;
	overflow: hidden;
	height: 18px;
	line-height: 18px;
}
.tableSet td .s-redTxt{
	background-color: #e60012;
	color: #fff;
	padding: 2px 14px;
	width: 42px;
	overflow: hidden;
	height: 18px;
	line-height: 18px;
}

/*.tableSet tr:nth-child(even), */.tableSet-split {
	background-color: #f9f9f9;
}

.tableSet tbody tr:hover {
	background-color: #f2f7ff;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
.tableSet tbody tr.thead{
	background-color: #f2f2f2;
}
/*列表状态-已经完成*/
tr.todo-done {
	background-color: #ecf0f1;
	color: #808b8d;
}
/*无鼠标经过列表的状态*/
.tableSet-noHover tbody tr:hover {
	border: 0px;
	background-color: #fff;
}
/*无边框*/
.tableSet-noborder, .tableSet-noborder td, .tableSet-noborder tr, .tableSet-noborder th {
	border: 0;
	outline: 0;
}
/*底部分割线*/
.tableSet-inbox {
	border: 0;
	border-bottom: 2px solid #dfdfdf;
	outline: 0;
}
.tableSet .s1 ,.tableSet .s2{
	font-weight: bold;
	text-align: center;
}
.tableSet .thead td{
	font-weight: bold;
	font-size: 16px;
}
.tableSet tfoot tr td{
	background-color: #D9FADB;
	box-shadow: inset 0 1px 0px #99DA9D;
	border: 1px solid #99DA9D;;
	padding: 15px 10px;
}
.tableSet tfoot h4{
	font-weight: bold;
	font-size: 16px;
}

/*==新增网页原生表单样式==*/
.formStyle-checkbox {
	position:relative;*top:1px;margin:0 4px 0 0;*margin:0 0 0 -4px;
}

.formStyle-radio {
	height: 21px;
	vertical-align: top;
}

.select * {
	margin: 0;
	padding: 0;
}

.select {
/*box-shadow: inset 0 5px 0 #333;*/
	float: left;
	display: inline;
	border: 1px solid #C0C0C0;
/*自动裁剪*/
/*width: 180px;
height: 17px;
clip: rect(0px,179px,16px,0px);
overflow: hidden;*/
}

.select div {
	border: 1px solid #f4f4f4;
	float: left;
}
/*子选择器，在FF等非IE浏览器中识别*/
.select>div {
	width: 122px;
	height: 19px;
	overflow: hidden;
}

select {
	position: relative;
	/*left: -1px;*/
	/*top: -3px;*/
	font-size: 14px;
	width: 183px;
	line-height: 14px;
	color: #333;
	height: 26px;
}
/*通配选择符，只在IE浏览器中识别*/
* html .select div select {
	display: block;
	float: left;
	margin: -2px;
}

.select div>select {
	display: block;
	width: 126px;
	float: none;
	margin: -2px;
	padding: 0px;
}
/*鼠标移上的效果 */
.select:hover {
	border: 1px solid #999;
}
/*option在FF等非IE浏览器缩进2px*/
.select select>option {
	text-indent: 2px;
}


/*==新增表单模块化样式==*/
.formStyle {
	font-size: 14px;
	line-height: 1.5;
}

.formStyle,.formStyle * {
	list-style: none
}

.formStyle fieldset {
	border: 0
}

.formStyle legend {
	display: none
}

.formStyle-explain {
	margin: 0;
	padding: 8px 0 0;
	font-size: 14px;
	color: #B2B2B2
}

.formStyle-other {
	margin-left: 8px
}
.formStyle-other input ,.formStyle-item input{
	vertical-align: middle;
}
.formStyle-text {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background-color:#DDDDDD;
	color:#333;
	font-size: 14px;
	padding: 2px 6px;
	border-radius: 10px;
}

.formStyle-item:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden
}

.formStyle-item {
	padding: 10px 5px 0px 10px;
	zoom: 1;
	width: 48%;
	float: left;
}
.formStyle-item-divder{
	padding: 10px 5px 10px 170px;
	zoom: 1;
	border-top: solid 1px #F1F1F1;
}
.formStyle-item-notitle {
	padding: 0 0px 10px 0px;
	zoom: 1
}

.formStyle-item select {
	vertical-align: middle;
	/*margin: 4px 0 0*/
}
.formStyle-item .acount,.formStyle-item-notitle .acount{
	font-size: 14px;
	color: #666666;
	line-height: 1.2em;
	position: relative;
	float: left;
	padding-right: 358px;
	_padding-right: 316px;
	*padding-right: 319px;
}

.formItem-wrap{ 
	position: relative;
}

.formItem-wrap a.js-form-item-remove{
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 0px;
	width: 16px;
	height: 16px;
	display: block;
	background: url(../images/sprite.png) no-repeat -29px -99px;
	_background:url(../images/sprite.gif) no-repeat -29px -99px;
}

.formItem-wrap a.js-form-item-remove:hover{
	background-position: -50px -99px;
}

/*.formStyle-item input {
	vertical-align: middle
}
*/
.formStyle-item .ui-input {
	color: #595959;
	vertical-align: middle;
	*vertical-align: -5px
}

.formStyle-item-error .ui-input,.formStyle-item-error .ui-textarea {
	border: 1px red solid;
	color: red
}

.formStyle-item-error .formStyle-input-reset {
	border: 1px #9C9C9C solid;
	color: #000
}

.formStyle-item-error .formStyle-explain {
	color: #FF5243
}

/*.formStyle-large .formStyle-input {
	font-size: 14px;
	height: 18px;
	line-height: 18px;
	padding: 11px 10px
}
*/
.formStyle-large .formStyle-label {
	padding-top: 12px
}

.formStyle-label {
	float: left;
	width: 82px; 
	padding-top: 2px;
	text-align: right;
	font-size: 14px;
	color:#969696;
	/*font-weight: bold;*/
}

.formStyle-required {
	color: red;
	font-family: SimSun;
	font-size: 14px;
	margin-right: 6px
}

/* ==弹出框控件== */
/*=模态对话框=*/
/*背景*/
.m-normalPop{
	width: 600px;
	background: #f6f6f6;
	margin: 0 auto;
	margin-top: 50px;	
	margin-bottom: 50px;	
	z-index: 90;
	position: relative;
}
/*跳转弹框*/
.m-jumpPop{
	width: 320px;
	line-height:18px;
	background-color: #505050;
	padding: 5px 6px;
	margin:0 auto;
	font-size: 14px;
	z-index: 90;
	position: relative;
}
.m-jumpPop .tt{
	font-size: 14px;
	margin: 0px;
	background: #3598dc;
}
.m-jumpPop .tt strong{
	color: #fff;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	font-weight: bolder;
}
.m-jumpPop .ct{
	padding: 20px 30px 20px 30px;
	border:solid #D9E9EC;
	border-width: 0 1px 1px 1px;
	background-color: #fff;
}
/*顶部背景*/
.m-normalPop .tt{
	font-size: 14px;
	margin: 0px;
	background: #3598dc;
}
.m-normalPop .ct{
	overflow-y:auto;
}
.PopupsFra h5{
	font-size: 14px;
	height: 36px;
	line-height: 23px;
	background: #3598dc;
	border-radius:0;
	border:1px solid #3598dc;
}
/*顶部文字颜色*/
.m-normalPop .tt strong, .edui-dialog-caption {
	color: #fff;
	display: inline-block;
	padding: 10px 15px 10px 15px;
	_padding: 10px 15px 10px 15px;
	font-weight: bolder;
}
/*关闭按钮*/
a.Popups_close:link,.edui-dialog-closebutton .edui-button-body {
display: block;
width: 14px;
height: 12px;
line-height: 24px;
overflow: hidden;
cursor: pointer;
vertical-align: text-top;
margin-right: 11px;
_margin-right: 5px;
margin-top: 11px;
background:url(../images/icon_spr.gif) no-repeat 0px -308px;
}
a.Popups_close:hover{
	background:url(../images/icon_spr.gif) no-repeat -30px -308px;
	 /*#3598dc*/
}
/*黄色系列弹框*/
.m-normalPop .tt.warning{
	background-color: #fb9800;
}
.editCon {
	padding: 20px  30px 10px 30px;
	border-top: 1px solid #fff;
	background-color: #fff;
}
.PopupsCon{
	background-color: #fff;
	border-radius:0;
}
.smallPic{
	padding: 0;
}
.editCon h3{
	font-size: 14px;
	color:#333333;
	padding-bottom:8px;
	margin: 0px; 
}
.editCon p{
	font-size: 14px;
	color:#666666;
	line-height: 1.2em;
}
.editCon p.txt{
	height: 24px;
	line-height: 24px;
}
.editCon p.checkBox{
	line-height: auto;
}
.editCon p.checkBox span{
	display: inline-block;
	margin-top: 4px;
}
/*底部区域*/
.m-normalPop .option{
	padding: 10px 20px 10px 10px;
	text-align: right;
}
.popWarp {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
}
.popWarp .bg{
	background-color: #333;
	position: fixed;
	_position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	opacity: 0.5;
	filter: Alpha(opacity=50);
	z-index: 10;
}
/*边框居中包裹*/
.warpCenter{
    margin: 200px auto 0px auto;
    width: 600px;
}

/*tab2 单独定义*/
.tab2Menu{
	padding: 0px;
	*height: 50px;
	/*background: none;*/
	/*margin-top: 10px;*/
}
.tab2Menu a.tabLink:hover {
	background: #444
}
.tab2Menu .tabMenuCurrent a.tabLink:link
,.tab2Menu .tabMenuCurrent a.tabLink:visited
,.tab2Menu .tabMenuCurrent a.tabLink:active
,.tab2Menu a.tabLink:hover
{	
	color: #fff;
	border-radius: 0px;
	display: block;
	text-align: center;
	font-size: 22px;
	line-height: 22px;
	font-weight: normal;
	background: #4a8bc2 url(../images/bg_tab2_cur.gif) 0 0 repeat-x;
}
.tab2Menu .tabLink{
	padding: 8px 20px;
	*width: 180px;
	border-radius: 0px;
	display: block;
	text-align: center;
	font-size: 22px;
	line-height: 22px;
	color: #747f9d;
	background-color: #e1e6ef
}
/*自定义tab2Menu样式，主要用在主页，可能用在多处*/
.tabSet1{
	width: 398px;
	margin: 0 auto;
	/*background:#f0f4fb;*/
	background:none;
	margin-bottom: -1px;
	*height: 47px;
}
/*.tabSet1 li a*/
.tabSet1 .tabMenuCurrent a.tabLink:link
,.tabSet1 .tabMenuCurrent a.tabLink:visited
,.tabSet1 .tabMenuCurrent a.tabLink:hover 
,.tabSet1 .tabMenuCurrent a.tabLink:active
{
	border-radius: 0px;
	width: 160px;
	height: 44px;
	line-height: 44px;
	display: block;
	/*border:solid #4a8bc2;*/
	border:solid #A7BDCF;
	border-width: 3px 1px 0 1px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 0px;
	background-color: #fff;
	background-image: none;
	color: #333;
}
.tabSet1 .tabLink{
	border-radius: 0px;
	color:#8895b4;
	width: 160px;
	height: 40px;
	line-height: 40px;
	display: block;
	border:1px solid #4a8bc2;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	background-color: #F2FAFF;
	box-shadow: 0 1px 1px #E6E6E6;
	padding: 0px;
	margin-left: 4px;
}
.tabSet1 a.tabLink:hover {
	color:#fff;
	background-color:#4a8bc2;
	border:1px solid #4a8bc2;
	text-decoration:none;
	padding: 0px;
	background-image: none;
	font-weight: normal;
	line-height: 40px;
}
/*==自定义tab2Menu样式，主要用在主页，可能用在多处==*/

/*自定义tab2Menu样式，主要用在主页，可能用在多处*/
.tabSet2{
	margin-left: 6px;
	background:none;
	margin-bottom: -1px;
}
/*.tabSet1 li a*/
.tabSet2 .tabMenuCurrent a.tabLink:link
,.tabSet2 .tabMenuCurrent a.tabLink:visited
,.tabSet2 .tabMenuCurrent a.tabLink:hover 
,.tabSet2 .tabMenuCurrent a.tabLink:active
{
	border-radius: 0px;
	width: 160px;
	height: 44px;
	line-height: 44px;
	display: block;
	border:solid #4a8bc2;
	border-width: 3px 1px 0 1px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 0px;
	background-color: #fff;
	background-image: none;
	color: #333;
}
.tabSet2 .tabLink{
	border-radius: 0px;
	color:#8895b4;
	width: 160px;
	height: 40px;
	line-height: 40px;
	display: block;
	border:1px solid #4a8bc2;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	background-color: #F2FAFF;
	box-shadow: 0 1px 1px #E6E6E6;
	padding: 0px;
	margin-left: 4px;
}
.tabSet2 a.tabLink:hover {
	color:#fff;
	background-color:#4a8bc2;
	border:1px solid #4a8bc2;
	text-decoration:none;
	padding: 0px;
	background-image: none;
	font-weight: normal;
	line-height: 40px;
}
.tabSet2 a.txtLink{
	color:#8895b4;
	width: 160px;
	height: 40px;
	line-height: 40px;
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	margin-left: 4px;
	text-decoration: underline;
	border:1px solid #ecf0f1;
}
.tabSet2 a.txtLink:hover{
	color: #3598dc;
	border:1px solid #3598dc;
}
/*==自定义tab2Menu样式，主要用在主页，可能用在多处==*/


/*==新增css下拉菜单==*/
    * {
      margin:0;
      padding:0;
    }
    .menu {
      font-size:14px;
    }
    .menu li {/*水平菜单*/
      float:left;
      list-style:none;
      position:relative;/*把包含块移动li元素*/
    }
	.menu .cur{background-color:#d5d5d5;}
    .menu a {
      display:block;
      height:32px;
      width:100px;
      line-height:32px;
      background:#f8f8f8;
      /*background-image:linear-gradient(to bottom, #fff, #f0f0f0);*/
      color:#444444;
      text-decoration:none;
      text-align:center;
      border:1px solid #d1d1d1;
      _border:0;
      /*border-radius: 2px;*/
      /*margin-left: 10px;*/
      overflow:hidden;/*★★★★*/
    }
    .menu .first,.menu ul .second{
	/*	margin-left: 10px;
		_margin-left: 0px;*/
		margin-left:10px !important; 
		_margin-left:0px;
    }
    .menu a:hover {
      background:#369;
      color:#fff;
      border:1px solid #225383;
      _border:0;
    }
    /*新增的二级菜单部分*/
    .menu ul ul {
      visibility:hidden;/*隐藏所有子菜单（二级的,三级的）*/
      position:absolute;
      left:0px;
      top:34px;
      _top:33px;
    }
    /*指定是显示二级子菜单*/
    .menu ul li:hover ul.second,/*非IE6*/
    .menu ul a:hover ul.second{/*IE6*/
      visibility:visible;
      z-index: 100;
      /*border-radius: 0px;*/
    }

    .menu ul ul li {
      clear:both;/*垂直显示*/
      text-align:left;
    }
    .menu .third,.menu .fourth,.menu .fifth,.menu .sixth{
      top:0px;/*重设子菜单相对于包含块哪个位置出现*/
      left:102px;
    }
    /*指定是显示三级子菜单*/
    .menu ul ul li:hover ul.third,
    .menu ul ul a:hover ul.third{
      visibility:visible;
    }
    /*指定是显示四级子菜单*/
    .menu ul ul ul li:hover ul.fourth,
    .menu ul ul ul a:hover ul.fourth{
      visibility:visible;
    }
    /*指定是显示五级子菜单*/
    .menu ul ul ul ul li:hover ul.fifth,
    .menu ul ul ul ul a:hover ul.fifth{
      visibility:visible;
    }
    /*指定是显示六级子菜单*/
    .menu ul ul ul ul ul li:hover ul.sixth,
    .menu ul ul ul ul ul a:hover ul.sixth{
      visibility:visible;
    }
    /*重设子菜单在鼠标滑过时的样式，有多少个ul就表明当前是多少级子菜单*/
    /*二级子菜单*/
    .menu ul ul a:hover{
      background:#3598dc;
      color:white;
      border:1px solid #13658e;
    }
    /*三级子菜单*/
    .menu ul ul ul a:hover{
/*      background:#B45B3E;
      color:#369;*/
      background:#3598dc;
      color:white;
      border:1px solid #13658e;
    }
    .menu ul ul ul ul a:hover{
/*      background:#FFE8AA;
      color:#68DFFB;*/
      background:#3598dc;
      color:white;
      border:1px solid #13658e;
    }
    .menu ul ul ul ul ul a:hover{
/*      background:#8080C0;
      color:#F8F8F8;*/
      background:#3598dc;
      color:white;
      border:1px solid #13658e;
    }
    .menu ul ul ul ul ul ul a:hover{
/*      background:#f00;
      color:#000;*/
      background:#3598dc;
      color:white;
      border:1px solid #13658e;
    }
    .menu table{
      border-collapse:collapse;
    }

    .menuBG {
		padding: 10px 0 0 10px;
		background: #ffffff ;
		border-left: 1px solid #cdced3;
		*overflow:hidden;
	}





	/*表格排序*/
	.orderNone,.orderNoneHover,.orderUp,.orderDown{
	display:inline-block;
	width:16px;
	height:12px;
	*height:12px;
	line-height:0;
	font-size:0;
	vertical-align:middle;
	background:url(../images/icon_add.png) no-repeat 0px 0px;
	_background:url(../images/icon_add.gif) no-repeat 0px 0px;
	}
	/*无序*/
	.orderNone{background-position: -22px -360px}
	.orderNone:hover{background-position: -22px -380px}
	/*升序*/
	.orderUp{background-position: -2px -360px}
	/*降序*/
	.orderDown{background-position: -2px -380px}

/*自定义滚动条*/
/*.customScroll ::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
}
.customScroll ::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
.customScroll ::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

.customScroll ::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}

.customScroll ::-webkit-scrollbar-corner {
	background: transparent;
}
.customScroll{
	_overflow-y:auto;
	+overflow-y:scroll;
}
*/
/*社区通用弹窗样式-学校DEBUG*/
.hwContactCon{
	height: 450px;
}
.hwContactCon h3{
	margin-bottom: 0px;
	font-size: 14px;
}
.hwContactCon .hwContactListCon a{
	font-size:12px;
	color: #333;
}
/*.hwContactCon .hwContactListCon a:link{
	color: #333;
}
.hwContactCon .hwContactListCon a:visited{
	color: #888;
}*/
.hwContactCon .hwContactListCon a:hover{
	color: #3598dc;
}
.hwContactCon .hwContactListCon span{
	padding: 2px 4px;
	display: inline-block;
}
.hwContactR .greenA{
	color: #F85252;
	text-decoration: underline;
}
.hwContactR .greenA:hover{
	color: #D31E05;
}
.hwContactR div p{
	height: 16px;
	overflow: hidden;
}
.hwContactR p a{
	color: #F85252;
}
.hwContactR .grayTxt a{
	color: #3598dc；
}
.hwContactRcon div .itemWarp{
	padding: 6px 0px 0px 0px ;
	margin:10px 0 0 0;
	border: none;
	border-radius: 0px;
	height: auto;
	border-top: 1px dotted #D8D5D5;
	clear: both;
}
.itemWarp .mannageItem{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 0 6px;
	_height: 15px;
	_line-height: 15px;
	_padding: 2px 6px 0 6px;
	border-radius: 2px;
	margin: 0 2px 2px 0;
	font-size: 12px;
	border: 1px solid #E2E2E2;
	background-color: #F1F1F1;
	color: #666;
}
.hwContactRcon div{
	height: auto;
}

/*弹窗debug*/
.customTipsSuccessfulOperation {
	/*width:202px;*/
	padding: 0 24px;
}



.table_form tr{
	height:40px;
}
.table_form label{
	margin-right: 10px;
}

/*主页布局-表格*/
.m-tableWrap{
	margin: 0 10px 0px 10px; /*修改后，影响学生评价*/
	
	/*margin:10px 0px 0px 0px; */ /*修改后，影响部分嵌套*/
	padding: 10px;
	border: 1px solid #A7BDCF;
	/*border-top-color: #4a8bc2;*/
	background-color: #fff;
}
.manager .m-tableWrap{
	margin: 0px;
}
.m-normalWrap{
	margin: 0 10px 0px 10px;
	border:0px;
}
.m-detailWrap{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #E0E0E0;
}
.m-normalWrap .ft{
	text-align: right;
	margin-top: 10px;
}
.m-normalWrap .tableSet{
	background-color: #fff;
}
.m-tableWrap .tt ,.m-tableWrap .ct{
	background-color: #fff;
}
.m-tableWrap h2 ,.m-normalWrap h2{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f2f2f2;
}
.m-tableWrap h2 .f-fl,.m-normalWrap h2 .f-fl{
	height: 24px;
	line-height: 26px;
}
.m-tableWrap h2 .f-fr a,.m-normalWrap h2 .f-fr a{
	font-size: 14px;
	font-weight: normal;
}
.m-tableWrap h2 em ,.m-normalWrap h2 em{
	font-style: normal;	
}
.m-tableWrap .ft{
	border-top: 1px solid #f2f2f2;
	text-align: right;
	margin-top: 10px;
	padding-top: 10px;
}
.m-tableWrap .topOption{
	border-top: 1px solid #f2f2f2;
	text-align: right;
	margin-top: 10px;
	padding-top: 10px;
}
.m-tableWrap .ft a.colourDarkBlue{
	/*color: #fff;*/
	font-weight: bold;
	font-size: 14px;
}

.historyTitle{
	background: url(../images/bg_listHeader.png) 0 0 repeat-x;
	height: 36px;
	line-height: 36px;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0 1px 0 #eceff4;
	text-align: center;
	color: #4a8bc2;
	cursor: pointer;
}

.historyTitle em{
	font-size: 14px;
	font-style: normal;
	color: #3eb852;
	padding: 0 6px;
	line-height: 36px;
}
.historyList{
	margin-top: 10px;
	border: solid #f2f2f2;
	border-width: 0 1px 0 1px;
}
.historyList li{
	padding: 10px;
}
.historyList dt{
	border-bottom: 1px solid #dbdbdb;
	font-size: 16px;
	height: 40px;
	line-height: 32px;
	margin-top: 8px;
}
.historyList dt i{
	font-size: 18px;
	padding: 2px 4px;
	border-radius: 2px;
	font-style: normal;
	background-color: #32b16c;
	color: #fff;
	margin-right: 10px;
}
.historyList dd{
	margin-top: 10px;
}
.s-redTxt ,.label-noSend{
	color: #e60012;
	text-align: center;
}
.s-greenTxt ,.label-sended{
	color: #2da138;
	text-align: center;
}
.s-grayBg{
	background: #f2f2f2 0 0 no-repeat;
}
.s-bsdStyle1{
	border: 1px solid #818181;
	-moz-box-shadow:0px 10px 20px #868686; 
	-webkit-box-shadow:0px 10px 20px #868686;
	box-shadow:0px 10px 20px #868686;
}
/*==主页布局-表格==*/

/*导航模块*/
.m-breakNav{
	font-size: 14px;
	padding:10px 0 10px 10px;
	margin-left: 0px;
	background-color: #fff;
	/*border-bottom: 1px solid #E2E2E2;*/
}
.m-breakNav a{
	color: #3598dc;
}
.m-breakNav a:hover{
	/*text-decoration: none;*/
	text-decoration: underline;
}
/*==导航模块==*/

/*综合素质图标组*/
.icon_self ,.icon_eachother ,.icon_resault
,.icon_message,.icon_message_cur,.icon_excit_cur,.icon_manage_cur ,.icon_excit ,.icon-nav ,.icon_manage ,.icon_home
,.icon_headTeacher ,.icon_subjectTeacher ,.icon_parents
{
	display:inline-block;
	width:42px;
	height:30px;
	line-height:0;
	font-size:0;
	vertical-align:middle;
	background:url(../images/sprite.png) no-repeat 0px 0px;
	_background:url(../images/sprite.gif) no-repeat 0px 0px;
}
.icon-nav{background-position: -5px -100px;width: 16px;height: 18px;}

.icon_self{background-position: -42px -2px; }
.icon_eachother{background-position: -84px -2px; }
.icon_resault{background-position: 0px -2px; }
.icon_headTeacher{background-position:-123px -3px;}
.icon_subjectTeacher{background-position: -159px -4px;}
.icon_parents{background-position: -200px -2px; }

.icon_message,.icon_manage_cur ,.icon_excit ,.icon_message_cur ,.icon_manage ,.icon_excit_cur,.icon_home{width: 28px; height: 28px; }

.icon_manage{background-position: -66px -34px;}
.icon_manage:hover ,.icon_manage_cur{background-position: -66px -66px;}
.icon_message{background-position: 0 -34px; }
.icon_message:hover ,.icon_message_cur{background-position: 0 -66px; } 
.icon_excit{background-position: -33px -34px; } 
.icon_excit:hover,.icon_excit_cur{background-position: -33px -66px; } 

.icon_home{background-position: -198px -34px;}
.icon_home:hover ,.icon_home.cur{background-position: -198px -66px;}
/*==综合素质图标组==*/

/*滑动设置数值控件*/
.m-slideSelector{
	width:100%;
}
.m-slideSelector .ct{
	border: 1px solid #f49c14;
	background: #ffffff 50% 50% repeat-x;
	color: #222222;
	border-radius: 2px;
	position: relative;
	height: .8em;
	text-align: left;
}
.m-slideSelector .ct .progress{
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	top: 0;
	left: 0;
	background: #f1c40f;
	color: #222222;
	font-weight: bold;
	font-size: 0;
	font-weight: 0;
	height: 100%;
	_height: 11px;
}
.m-slideSelector .ct .handle{
	border: 1px solid #d3d3d3;
	background: #FCFCFC  url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
	top: -.3em;
	left: 0px;
	margin-left: -.6em;
	position: absolute;
	z-index: 2;
	width: 30px;
	height: 16px;
	border-radius: 2px;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
	box-shadow: 0 1px 2px #E4E4E4;
}
.m-slideSelector .ct .handle:hover{
	border-color: #1CA827;
	background-color: #fff;
	box-shadow: 1px 1px 2px #DEFCC7;  
}
.m-slideSelector a.count{
	width: 60%;
	display: block;
	text-align: center;
	font-weight: bold;
	color: #333;
	margin-right: 4px;
	font-size: 14px;
	cursor: default;
}
.m-slideSelector a:hover{
	text-decoration: none;
}
/*.count .highScore ,.count .passedScore ,.count .lowScore {
	margin-right: 4px;
	font-size: 14px;
}*/
/*分数区分*/
.count .highScore{color: #2fcc71; }
/*高分 */
.count .normalScore{color: #333; } 
/*正常，默认，平均分*/
.count .passedScore{color: #e77e23; } 
/*及格分数，大于60*/
.count .lowScore{color: #FF1600; } 
/*不及格分数，60以下*/
/*==分数区分==*/
.m-slideSelector .count .txt{
	font-style: normal;
}
.m-slideSelector .ct .tip{
	font-size: 12px;
	width: 30px;
	text-align: center;
	height: 16px;
	line-height:16px;
	display: block;
	font-style: normal;
}
/*==滑动设置数值控件==*/
/*后台管理员*/
.manager .main .g-wrap{
	/*box-shadow:3px 0px 0px #255782 inset;*/
	margin-left: 229px;
	/*border-left: 1px solid #6386BD;*/
	width: auto;
	background-color: #ecf0f1;
}
.manager .main .g-tt{
	/*后台超出修改*/
	padding: 0;
	background-color: #fcfcfc;
	border-bottom: 1px solid #e3e3e3;
	height: 39px;
	/*margin-left: 3px;*/
}
.manager .main .m-breakNav{
	border-bottom: 0px;
	padding:10px 0 10px 10px; 
	background-color: #fff;
	border-bottom: 1px solid #e3e3e3;
	/*margin-left: 3px;*/
}
.manager .main .g-ft{
	/*margin-left: 4px;*/
	padding: 10px 10px 20px 10px;
	background-color: #fff;
}
.manager .g-hd{
	background: url(../images/manager/managerBG_01.gif) repeat 0 0;
}
.manager .g-hd .g-hdc{
	border-bottom: 3px solid #255782;
}
.manager .g-hd .option{
	margin-top: 14px;
}
.manager .g-hd .logo i {
	margin-left: 20px;
	width: 433px;
	height: 58px;
	display: block;
	background: url(../images/manager/logo_header.jpg) 0 0 no-repeat;
}
.manager .g-hd .option a{
	border-left: 1px solid #DFDFDF;
}
.manager .g-hd .btn_manage{
	display: none;
}
.manager .icon_manage{background-position: -165px -34px;}
.manager .icon_manage:hover ,.manager .icon_manage.cur{background-position: -165px -66px;}
.manager .icon_message{background-position: -99px -34px; }
.manager .icon_message:hover ,.manager .icon_message.cur{background-position: -99px -66px; } 

.manager .icon_excit{background-position: -132px -34px; } 
.manager .icon_excit:hover{background-position: -132px -66px; } 

.manager  .sidebar {
	background: #4a8bc2;
	box-shadow: none; 
	overflow: auto;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: rgb(37, 87, 130);
}
.manager .m-userInfo{
	border-bottom: 1px solid #346c9b;
	background: #4a8bc2;
}
.manager .m-userInfo .rightCon{
	width: 115px;
	display: block;
}
.manager .m-userInfo .rightCon p{
	color: #2d3e50;
}
.manager .m-userInfo .rightCon .name{
	color: #fff;
	overflow: hidden;
	width: 115px;
	display: block;
	height: 20px;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.manager .m-userInfo .rightCon .name em{
	color: #f1c40f;
}
.manager .sidebar .tab4Menu{
    border-top: 1px solid #70a3cf;	
    border-bottom: 0px;
}
.manager  .sidebar .tab4Menu .menuCell span {
	display: block;
	height: 25px;
	line-height: 26px;
	padding: 10px 0 11px 20px;
	font-size: 18px;
	color: #fff;
}
.manager  .sidebar .tab4Menu .menuCell a { 
	font-size: 14px; 
	color: #fff;
	height: 20px;
	line-height: 21px;
	width: 164px;
	position: relative;
	z-index: 1;
	margin-left:18px; 
	font-weight: normal;
	border:1px solid #4a8bc2;
}
.manager  .sidebar .tabMenuCurrent a {
	background: #346c9b;
	color: #fff;
	box-shadow:none;
	border-radius: 3px;
}
.manager  .sidebar .manageList a:hover{
	background: #3A78AC;
	color: #A7CEEE;
	border:1px solid #3C719C;
	box-shadow:none;
	border-radius: 3px;
}
.manager  .sidebar .tabMenuCurrent,.manager  .sidebar .tabMenuCurrent:hover {
	color: #fff;
	font-weight: 700;
	border-radius: 0;
	background: none;
}
.manager .main .g-tt,.manager .main .g-ct{
	background: none;
}
.manager  .tabSet2{
	background: none;
}
.manager  .ui-category li { 
	height: 190px;
	float: left;
	margin-right: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: white;
	border:0px none;
	}
.manager  .m-tableWrap  .ui-category li {
	margin-right: 0;
	width: 100%;  
	margin-bottom: 0px;
}
.manager  .ui-category li p {
	padding: 0 5px;
	/*height: 24px;内容超出修改*/
	line-height: 24px;
	cursor: default;
	font-size: 12px;
	cursor: pointer;
}
.manager  .m-tableWrap  .ui-category p{
   /*white-space:nowrap;内容超出修改*/
   overflow: hidden;
}
.manager  .m-tableWrap  .ui-category p.selected { 
  color: #fff; 
  background: #4d4d4d url(../images/manager/spr_upload_e112e563.png) no-repeat 143px -350px;
}
#performance-list p.selected { 
	background-position: 420px -350px;
}
.manager  .m-tableWrap  .ui-category  p.last{
  background-image: none;	 
}
.manager  .m-tableWrap .tableSet .thead td{
	padding: 8px 9px 7px;
}
.manager .tableSet td a{
	/*color: #007722;*/
	text-decoration: none;
	font-size: 14px;
	margin-left: 10px;
}
/*视觉上失效链接*/
.manager .s-linkEnabled .tableSet td a{
	text-decoration: none;
	cursor: text;
	text-align: center;
}
.manager .tableSet td a:hover{
	text-decoration: underline;
}
/*==后台管理员==*/
a.popover{
	width: 100%;
	display: block;
	text-align: center;
}
/*评价详情页面-修改*/
.table-title{
	border:1px solid #e2dbc8; 
	background: #ffffeb; 
}
.table-title .table-title-bor{
	border: 1px solid #fff;
	padding:10px; 
}
.table-title .table-title-bor .local{
	font-size: 16px;
	font-weight: bold;
	line-height: 56px; 
	color: #814509;
	border-bottom: 1px dashed #dbd7cb;
}
.table-title .table-title-bor .local span{
	height: 56px; 
	display: inline-block;
	float: left;
}
.table-title .table-title-bor .tabComment{
	font-size: 14px;
	font-weight: normal; 
	margin: 0px 0 12px 0;
	padding-top: 13px;
	color: #dfa377;
}
.table-title .table-title-bor .tabComment span{
	font-weight: bold;
	color: #000;
}
.table-title .table-title-bor em{
	display: inline-block;
	width: 1px ;
	height: 56px;
	background: url(../images/line.gif) no-repeat 0 0;
	margin:0 25px; 
	float: left; 
}
.table-title .table-title-bor .tableSet td{
	background: #fffff3;
}
.table-title .table-title-bor .tableSet .thead td{
	background: #f2f2e1;
}
.table-title .table-title-bor .score-level i{
    width: 14px;
    height: 14px;
    display: inline-block;
    background: #2fcc71;
    margin-right: 10px;
    margin:0 0 -2px 5px; 
}
.table-title .table-title-bor .score-level-excellent i{
	background: #2fcc71;
}
.table-title .table-title-bor .score-level-excellent{
	color: #2fcc71;
}
.table-title .table-title-bor .score-level-poor i{
	background: #ff1600;
}
.table-title .table-title-bor .score-level-poor{
	color: #ff1600;
}
.table-title .table-title-bor .score-level-middle i{
	background: #333333;
}
.table-title .table-title-bor .score-level-middle{
	color: #333333;
} 
.table-title .table-title-bor .score-level-general i{
	background: #e77e23;
}
.table-title .table-title-bor .score-level-general{
	color: #e77e23;
} 
.content-head-mark{
	width: 48px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	display: inline-block;
	margin-top: 5px;
}
.content-head-mark-excellent{ 
	background: #2fcc71;
}
.content-head-mark-general{ 
	background: #333333;
}
.content-head-mark-middle{ 
	background: #e77e23;
}
.content-head-mark-poor{ 
	background: #ff1600;
}
.content-foot-mark{
	width: 52px;
	height: 24px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	display: inline-block;
	margin-top: 5px;
}
.content-foot-mark-excellent{ 
	background: #2fcc71;
}
.content-foot-mark-general{ 
	background: #333333;
}
.content-foot-mark-middle{ 
	background: #e77e23;
}
.content-foot-mark-poor{ 
	background: #ff1600;
}
/*==评价详情页面-修改==*/

/*评价页面增加一个日期筛选组件*/
.m-date-search{
	padding:10px 0 0 10px; 
}
/*==评价页面增加一个日期筛选组件==*/
/*评价详情*/
 .f-tal{
 	text-align: left;
 }
 .f-fwb{
 	font-weight: bold;
 }
/*==评价详情==*/
/*表格添加鼠标滑过效果*/
#tabHov .tabHovBg{
	background:#fff7ec; 
} 
#tabHov  .u-arrowR {
	top: 18px;
	left: -8px;
	width: 8px;
	height: 15px;
	background-position: -1px -1px;
}
#tabHov  .m-floatCard{
	right: -378px;
	top: -15px;
	font-weight: normal;
}
#tabHov  .last_month{
	color: #79aafc;
	text-decoration: underline;
	cursor: pointer;
	font-weight: normal;
}
#tabHov  .last_month em{
	font-weight: bold;
	font-style: normal;
	position: relative;
	z-index: 1; 
} 
/*==表格添加鼠标滑过效果==*/
/*标头的维度漂浮样式*/
.theadPos{
	position: fixed;
	top:70px;
	left: 257px;
	z-index: 10;
} 
/*==标头的维度漂浮样式==*/

.reduceBtn,.addBtn{
	width:20px;
	font-size:14px;
	height:20px;
	border:1px solid #c8c8c8;
	text-align:center;
	line-height:20px;
	cursor:pointer;
	font-style:normal;
}
.reduceBtn:hover,.addBtn:hover{
	color:#fff;
	border:1px solid #e0952d;
	background-color:#f9a32b;
}
#schoolYear_detail td{
   background: #fff;
}
#schoolYear_detail tr:hover td{
	background-color: #f2f7ff;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
} 